body {
    color: #f7f7f7;
}

.jumbotron {
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
}

form {  
    style="font-family: inherit; 
    font-size: 1rem;"
}  

ul {  
    style="font-family: inherit; 
    font-size: 1rem;"
}  

li {  
    style="font-family: inherit; 
    font-size: 1rem;"
}  

